@charset "utf-8";
/* CSS Document */
@import url('../js/custom-library/bPagination/bPagination.css');


:root{
	--common-header-height : 68px;
}




/* 공통 헤더 */
.logo{
	display: flex;
	align-items: center;
	padding: 0 20px;
	height: 97px;
}

@media(max-width : 1280px){

}
@media (max-width: 1024px) {

}
@media(max-width : 768px){
	.logo { height: 64px; }
}
header.common{
	position: sticky;
	display: inline-flex;
	flex-direction: column;
	padding: 0px 0px;
	height: 100%;
	top: -2px;
	left: 0;
	z-index: 6;

	max-width: 340px;
	width: 100%;
	box-sizing: border-box;
	vertical-align: top;

	overflow: auto;
	/* transform: translateX(-100%); */
	transition: all .3s ;
}
admin-header{ margin: auto  }

header.common .ctrl-gnb{
	--maskimg : url('../img/common/icon-svg-menu.svg');
}
header.common.expanded .ctrl-gnb{
	--maskimg: url('../img/common/icon-svg-arrow-narrow-left.svg');
}
header.common .ctrl-gnb::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;
	-webkit-mask-image: var(--maskimg);
	mask-image: var(--maskimg);

}

global-nav{ flex: 1 }

@media(max-width: 1440px){
	header.common{ max-width: 110px;  }
}
@media (max-width: 1024px) {

	header.common {
		position: fixed;
		top: 0px;
		max-width: 440px;
		background-color: var(--body-background-color);
		box-shadow: 2px 0 30px hsl(0 0% 0% / .2);
		transform: translateX(-100%);
		box-sizing: border-box;
		overflow: visible;
	}
	header.common .ctrl-gnb {
		position: absolute;
		left: calc(100% + 0em);
		width: 1.5em;
		height: 1.5em;
		font-size: 24px;
		top: 1.7rem;
		transform: translateX(1em) translateY(-4px);
	}

	header.common.expanded{
		overflow: auto; 
		transform: translateX(0%); 
	}
	header.common.expanded .ctrl-gnb{
		--maskimg: url('../img/common/icon-svg-arrow-narrow-left.svg');

		transform: translateX(-2em) translateY(-50%);
	}
	body:has(header.common.expanded){ overflow: hidden; }
	body:has(header.common.expanded)::before{ 
		content: '';
		position: absolute;
		top:0; bottom: 0; left:0; right: 0;
		background-color: hsl( 0 0% 0% / .9);
		z-index: 1;
	}

}
@media (max-width: 768px) {

	header.common .ctrl-gnb {	top: 1.7rem; }

}







main.common{
	display: inline-block;
	flex: 1;
	max-width: 100%;
	min-height: 100%;
	height: max-content;
	padding-bottom: 40px;
	vertical-align: top;
	padding: 0 40px;
} 
main.common > .contents:has( project-list ){ 
	min-height: 80vh; 
	display: flex;
	flex-direction: column;
}


#container.common{
	flex: 1;
	margin-left: 0px;
	margin-right: 0px;
	transition: margin-left .3s;
	max-width: 100%;
	padding-bottom: 2em;
}
@media(max-width : 1280px){
	main.common{ padding: 0 20px; padding-bottom: 40px; } 
}

/* */


.page-header {
	height: 97px;
	display: flex;
	align-items: center;
  
}
.page-header .page-title{
	font-size: 28px;	  
	font-weight: 800;
	color: var(--font-color-default);
	margin: 0;
	margin-right: auto;
}
.page-header .button-wrap .btn{}
@media(max-width : 1280px){
	/* .page-header { height: 64px; } */
	.page-header .page-title{ font-size: 24px;	 }
}
@media(max-width : 768px){
	.page-header { height: 64px; }
}

.section{ display: block;}
.section + .section{ margin-top: 30px;}

list-item-type3{ display: block; }
list-item-type3 + list-item-type3{ margin-top: 1em; }


my-modal::part(.btn-close) {  background-color: red; }