@charset "utf-8";
/* CSS Document */


/* gnb */
.gnb{
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	font-size: 14px;
	padding: 0 20px;
}
.gnb .gnb-item{
	position: relative;
	flex: 1 1 45%;
	min-width: 100px;
	min-height: 140px;
	z-index: 0;
	transition: all .3s;
}
.gnb .gnb-item > .btn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 100%;
	height: 100%;
	background-color: var(--gnb-menu-bg-color);
	color: var(--gnb-menu-font-color);
	border-radius: 16px;
	transition: all .3s;
	margin-left: 0;
	margin-top: 0;
	font-weight: 600;
}
.gnb .gnb-item > .btn:hover{
	color: var(--primary-500);
	box-shadow: 0 0 1.5em hsl( 0 0% 0% / .1);
	z-index: 2;
}
.gnb .gnb-item > .btn i{ font-size: 1.3em; }
.gnb .gnb-item > .btn:hover i[class*="-svg2-"] { filter: saturate(10);  }
.gnb .gnb-item > .btn:hover i[class*="-svg-"] { --fcColor : var(--primary-500) }
.gnb .gnb-item:has(>.active){ z-index: 3; }
.gnb .gnb-item > .btn.active{

	width: calc(100% + 16px);
	height: calc(100% + 16px);
	background-color: var(--primary-500);
	color: #fff;
	box-shadow: 0 3.5px 13.1px 3px hsla(140, 56%, 56%, 0.3);
	margin-left: -8px;
	margin-top: -8px;
}
.gnb .gnb-item > .btn.active i{ filter: brightness(150%) contrast(350%);  }
@media(max-width: 1440px){
	.gnb{ font-size: 12px;  margin-bottom: auto; }
	.gnb .gnb-item{ min-width: 64px; min-height: 64px; }
	.gnb .gnb-item > .btn{ gap: 0px; }
	.gnb .gnb-item > .btn.active{ 
		width: calc(100% + 0px);
		height: calc(100% + 0px);
		margin-left: 0px;
		margin-top: 0px;
	}
}
@media (max-width: 1024px) {
	.gnb .gnb-item { min-width: 100px; min-height: 100px; }
	.gnb .gnb-item > .btn{ gap: 4px; }
}
@media (max-width: 440px) {
	.gnb .gnb-item { width: calc(( 100vw - 40px - 6px) / 3 ); height: 100px; }
}





